body {
  width: 320px;
  min-height: 400px;
}

@media (prefers-color-scheme: dark) {
  ul#hiddenTopics li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

#hiddenTopicsContainer {
  max-height: 300px;
  min-height: 100px;
  overflow-y: auto;
}

ul#hiddenTopics {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#hiddenTopics li {
  padding: 8px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

ul#hiddenTopics li:last-child {
  border-bottom: none;
}